
.container{
    background-color: rgb(169, 172, 172);
    border: 2px solid rgb(68, 68, 68);
    margin: 0.5rem;
}

.programador{
    color: rgb(224, 93, 28);
    font-weight: bolder;
    text-decoration:underline;
}